@import "style.css";

main * {
  opacity: 0;
  animation: apparition 1s ease forwards 3s;
}

#logomiddle {
  animation: position 1s ease forwards 2.5s, apparition 1.5s ease forwards 0.5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 500px;
  width: auto;
  opacity: 0;
}

@keyframes position {
  to {
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    height: 100px;
    width: auto;
    position: fixed;
    z-index: 999999;
  }
}

@keyframes apparition {
  to {
    opacity: 1;
  }
}
