* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --background-white: #fffdfd;
  --jaune: #e9df29;
  --noir: #2d2d2d;
  --orange: #9f623d;

  /* Fonts */
  --Montserrat: "Montserrat", sans-serif;
  --EB: "EB Garamond", serif;

  /* Font-size */
  --EB-title: 700 96px/1.15 var(--EB);
  --Mont-subtitle: 700 60px/1.15 var(var(--Montserrat));
  --Mont-title: 900 80px/1.15 var(var(--Montserrat));

  --title-letterspace: -0.005em;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}

.EB {
  font: var(--EB-title);
}

img,
svg {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
