@font-face {
  font-family: "RobotoCon";
  src: url(../assets/Roboto/RobotoCondensed-Medium.ttf) format("TrueType");
}

body {
  background-color: #f8f2e7;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  font-family: "RobotoCon";
  color: black;

  text-transform: uppercase;
  z-index: 9999999;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 3px;
}

#logomiddle {
  position: absolute;
  height: 100px;
  width: auto;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

#ping {
  height: 42px;
  width: 42px;
  transition: transform 0.3s ease;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.gauche,
.droite {
  display: flex;
}

header ul li a {
  padding: 25px;
}

.droite a {
  display: flex;
  align-items: top;
  gap: 8px;
}

.droite {
  margin-right: 2%;
}

.droite li:nth-child(1) {
  margin-right: 20px;
}

#reserver {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#reserverbutton {
  box-sizing: border-box;
  border: black solid 1px;
  border-radius: 45px;
  transition: background-color 0.5s ease;
  padding: 15px 25px;
}

#reserverbutton:hover {
  background-color: #c3d017;
}

.gauche li a {
  position: relative;
  padding: 25px;
  display: inline-block;
}

.gauche li a::before {
  content: "_";
  position: absolute;
  left: 12px;
  top: 30px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.gauche li a:hover::before {
  opacity: 1;
}

.gauche li a:hover {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

#loc-link img {
  transition: transform 0.3s ease;
}

#loc-link {
  display: inline-flex;
  align-items: center;
}

#loc-link span {
  transition: transform 0.3s ease;
}

#loc-link:hover img {
  transform: rotate(-90deg);
}

#loc-link:hover span {
  transform: translateX(10px);
}

/* ------------------------------------------------------------------- */
