* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --background-white: #fffdfd;
  --jaune: #e9df29;
  --noir: #2d2d2d;
  --orange: #9f623d;

  /* Fonts */
  --Montserrat: "Montserrat", sans-serif;
  --EB: "EB Garamond", serif;

  /* Font-size */
  --EB-title: 700 96px/1.15 var(--EB);
  --Mont-subtitle: 700 60px/1.15 var(var(--Montserrat));
  --Mont-title: 900 80px/1.15 var(var(--Montserrat));

  --title-letterspace: -0.005em;
}

::selection {
  background-color: rgba(233, 223, 41, 0.302);
  color: var(--noir);
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}

.EB {
  font: var(--EB-title);
}

button {
  cursor: pointer;
}

.black-button::selection {
  background-color: black;
  color: white;
}

h5::selection {
  background-color: rgba(200, 103, 42, 0.15);
}

img,
svg {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button:active,
a:active {
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(43, 43, 43, 0.6);
  border-radius: 8px;
}

.black-button {
  transition: all 0.3s ease;
}

.black-button:hover {
  background-color: #e9df29 !important;
  color: #2d2d2d !important;
  transition: all 0.3s ease;
}
